{% extends 'base.html' %}


{% block content %}
<div class="container py-4">
    <div class="d-flex justify-content-between mb-3">
      <h3>Products</h3>
      <button class="btn btn-success btn-sm">Add Product</button>
    </div>
    <table class="table table-bordered bg-white">
      <thead>
        <tr>
          <th>ID</th>
          <th>Product</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>1</td><td>Laptop</td><td>$500</td></tr>
        <tr><td>2</td><td>Mouse</td><td>$20</td></tr>
      </tbody>
    </table>
  </div>

{% endblock %}